<div class="container">
 <div class="row">
  <div class="col-lg-3" style="background-color: orange";>
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
   <table class = "userinfo">
    <tbody>
     <tr>
      <td>name</td>
      <td><%= user.name %></td>
     </tr>
     <tr>
      <td>introduction</td>
      <td><%= user.introduction %></td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>


<h2>New book</h2>
<% if book.errors.any? %>
 <%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.esch do |message| %>
     <li><%= message %></li>
    <% end %>
  </ul>
 <% end %>

<%= form_with model: book do |f| %>
 <h6>Title</h4>
 <%= f.text_field :title %>
 <h6>Opinion</h4>
 <%= f.text_area :body %>
 <br>
 <%= f.submit 'Create Book' %>
<% end %>