<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <script src="https://kit.fontawesome.com/84f708c9b2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <% if user_signed_in? %>
       <li>
        <%= link_to"ログアウト",destroy_user_session_path, method: :delete %>
       </li>
      <% else %>
       <li>
         <%= link_to "新規登録",new_user_registration_path %>
       </li>
       <li>
         <%= link_to "ログイン",new_user_session_path %>
       </li>
      <% end %>
    </header>
   
    <%= yield %>
    <footer class="bg-white text-black pd-3">
     <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CpoyRight Infratop.inc</p>
        </div>
      </div>
     </div>  
    </footer>
  </body>
</html>
